<section id="ui_buttons">
	<div class="row">
		<div class="large-9 large-offset-3 medium-9 medium-offset-3 small-12 columns">
			<h1 class="display is_blue_color">Buttons</h1> 
			<p class="small-12 large-10">Buttons signal actions. They should be used sparingly; each additional button on a page reduces the visual prominence of a call to action.</p>

<!-- 			<hr>

			<h1>Basic</h1>
			<p>You can create a button using minimal markup.</p>
			<div class="row">
				<div class="medium-6 small-12 columns type_hierarchy">
					<a href="#" class="button">Default Button</a>
				</div>
				<div class="medium-6 small-12 columns medium_space_top">
					<div class="code_container">
						<code>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button"</span>&#62;Default Button&#60;/<span class="tag">a</span>&#62;
						</code>
					</div>
				</div>
			</div> -->

			<hr>

			<h1>Button Sizing</h1>
			<div class="row">
				<div class="medium-12 small-12 columns type_hierarchy">
					<a href="#" class="button tiny">Tiny Button</a>
					<a href="#" class="button small">Small Button</a>
					<a href="#" class="button">Default Button</a>
					<a href="#" class="button disabled">Disabled Button</a>
					<a href="#" class="button large">Large Button</a>
					<a href="#" class="button expand">Expanded Button</a>
				</div>
<!-- 				<div class="medium-6 small-12 columns medium_space_top">
					<div class="code_container">
						<code>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button tiny"</span>&#62;Tiny Button&#60;/<span class="tag">a</span>&#62;<br>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button small"</span>&#62;Small Button&#60;/<span class="tag">a</span>&#62;<br>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button"</span>&#62;Default Button&#60;/<span class="tag">a</span>&#62;<br>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button disabled"</span>&#62;Disabled Button&#60;/<span class="tag">a</span>&#62;<br>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button large"</span>&#62;Large Button&#60;/<span class="tag">a</span>&#62;<br>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button expand"</span>&#62;Expanded Button&#60;/<span class="tag">a</span>&#62;<br>
						</code>
					</div> 
				</div> -->
			</div>

			<hr>

			<h1>Button Colors</h1>
			<div class="row">
				<div class="medium-12 small-12 columns type_hierarchy">
					<a href="#" class="button">Default Button</a>
					<a href="#" class="button success">Success Button</a>
					<a href="#" class="button secondary">Secondary Button</a>
					<a href="#" class="button alert">Alert Button</a>
					<a href="#" class="button info">Info Button</a>
					<a href="#" class="button disabled">Disabled Button</a>
				</div>
<!-- 				<div class="medium-6 small-12 columns medium_space_top">
					<div class="code_container">
						<code>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button"</span>&#62;Default Button&#60;/<span class="tag">a</span>&#62;<br>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button success"</span>&#62;Success Button&#60;/<span class="tag">a</span>&#62;<br>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button secondary"</span>&#62;Secondary Button&#60;/<span class="tag">a</span>&#62;<br>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button alert"</span>&#62;Alert Button&#60;/<span class="tag">a</span>&#62;<br>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button info"</span>&#62;Info Button&#60;/<span class="tag">a</span>&#62;<br>
							&#60;<span class="tag">a</span><span class="title"> href</span><span class="name">="#"</span><span class="title"> class</span><span class="name">="button disabled"</span>&#62;Disabled Button&#60;/<span class="tag">a</span>&#62;<br>
						</code>
					</div>
				</div> -->
			</div>
			

		</div> 
	</div>
</section>