<section id="brand_color">
	<div class="row">
		<div class="large-9 large-offset-3 medium-9 medium-offset-3 small-12 columns">
			<h1 class="display is_blue_color">Color</h1> 
			<p class="small-12 large-10">The primary color palette is blue, black and gray, all other colors are accents. A minimal palette, with our blue as the primary color, good information design, and ample whitespace will ensure a voice of authority and expertise in communication.</p>
			
			<div class="large_space_top is_blue_bg small-12 columns">
				<div class="color_swatch">
					<p class="caption is_white_color"><span class="bold">HEX</span><br>#56d0b5</p>
					<p class="caption is_white_color"><span class="bold">RGB</span><br>87,208,181</p>
					<p class="caption is_white_color"><span class="bold">CMYK</span><br>59,0,39,0</p>
					<p class="caption is_white_color"><span class="bold">PANTONE</span><br>312C</p>
				</div>
			</div>

			<div class="large_space_top large_space_bottom is_grey_bg small-6 columns">
				<div class="color_swatch">
					<p class="caption is_white_color"><span class="bold">HEX</span><br>#56d0b5</p>
					<p class="caption is_white_color"><span class="bold">RGB</span><br>87,208,181</p>
					<p class="caption is_white_color"><span class="bold">CMYK</span><br>59,0,39,0</p>
				</div>
			</div>
			<div class="large_space_top large_space_bottom is_light_grey_bg small-6 columns end">
				<div class="color_swatch">
					<p class="caption"><span class="bold">HEX</span><br>#56d0b5</p>
					<p class="caption"><span class="bold">RGB</span><br>87,208,181</p>
					<p class="caption"><span class="bold">CMYK</span><br>59,0,39,0</p>
				</div>
			</div>

			<div class="is_teal_bg custom_col columns end">
				<div class="color_swatch">
					<p class="caption"><span class="bold">HEX</span><br>#56d0b5</p>
					<p class="caption"><span class="bold">RGB</span><br>87,208,181</p>
					<p class="caption"><span class="bold">CMYK</span><br>59,0,39,0</p>
				</div>
			</div>
			<div class="is_green_bg custom_col columns end">
				<div class="color_swatch">
					<p class="caption"><span class="bold">HEX</span><br>#56d0b5</p>
					<p class="caption"><span class="bold">RGB</span><br>87,208,181</p>
					<p class="caption"><span class="bold">CMYK</span><br>59,0,39,0</p>
				</div>
			</div>
			<div class="is_yellow_bg custom_col columns end">
				<div class="color_swatch">
					<p class="caption"><span class="bold">HEX</span><br>#56d0b5</p>
					<p class="caption"><span class="bold">RGB</span><br>87,208,181</p>
					<p class="caption"><span class="bold">CMYK</span><br>59,0,39,0</p>
				</div>
			</div>
			<div class="is_orange_bg custom_col columns end">
				<div class="color_swatch">
					<p class="caption"><span class="bold">HEX</span><br>#56d0b5</p>
					<p class="caption"><span class="bold">RGB</span><br>87,208,181</p>
					<p class="caption"><span class="bold">CMYK</span><br>59,0,39,0</p>
				</div>
			</div>
			<div class="is_red_bg custom_col columns end">
				<div class="color_swatch">
					<p class="caption"><span class="bold">HEX</span><br>#56d0b5</p>
					<p class="caption"><span class="bold">RGB</span><br>87,208,181</p>
					<p class="caption"><span class="bold">CMYK</span><br>59,0,39,0</p>
				</div>
			</div>
			<div class="is_purple_bg custom_col columns end">
				<div class="color_swatch">
					<p class="caption"><span class="bold">HEX</span><br>#56d0b5</p>
					<p class="caption"><span class="bold">RGB</span><br>87,208,181</p>
					<p class="caption"><span class="bold">CMYK</span><br>59,0,39,0</p>
				</div>
			</div>
			<div class="is_violet_bg custom_col columns end">
				<div class="color_swatch">
					<p class="caption"><span class="bold">HEX</span><br>#56d0b5</p>
					<p class="caption"><span class="bold">RGB</span><br>87,208,181</p>
					<p class="caption"><span class="bold">CMYK</span><br>59,0,39,0</p>
				</div>
			</div>

			<a class="large_space_top button download_button" href="files/IS2_brand_colors.ase">
				<div><i class="fa fa-arrow-circle-o-down"></i></div>
				<div><p class="link">Download palette for Adobe CC</p></div>
			</a>

		</div> 
	</div>
</section>