<section id="brand_icons">
	<div class="row">
		<div class="large-9 large-offset-3 medium-9 medium-offset-3 small-12 columns">
			<h1 class="display is_blue_color">Icons</h1> 

			<ul class="large_space_top small-block-grid-2 medium-block-grid-4 large-block-grid-6">
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/activity.png" alt="activity icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/dashboard2.png" alt="dashboard2 icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/down_arrow_light.png" alt="down_arrow_light icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/filter_btn_icon.png" alt="filter_btn_icon icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/module_gear_icon.png" alt="module_gear_icon icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/nav_icon_arrow.png" alt="nav_icon_arrow icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/nav_icon_customer.png" alt="nav_icon_customer icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/nav_icon_data_quality.png" alt="nav_icon_data_quality icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/nav_icon_funnel.png" alt="nav_icon_funnel icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/nav_icon_labs.png" alt="nav_icon_labs icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/nav_icon_marketing.png" alt="nav_icon_marketing icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<span class="helper"></span>
						<img src="img/icons/nav_icon_service.png" alt="nav_icon_service icon">
					</div>
				</li>
				<li>
					<div class="icon_container">
						<img src="img/icons/animated-logo-symbol-dark2.gif" alt="loader gif">
					</div>
				</li>
			</ul>

<!-- 			<a class="large_space_top button download_button" href="">
				<div><i class="fa fa-arrow-circle-o-down"></i></div>
				<div><p class="link">Download the<br>entire icon set</p></div>
			</a> -->

		</div> 
	</div>
</section>