<section id="ui_inputs">
	<div class="row">

		<div class="large-9 large-offset-3 medium-9 medium-offset-3 small-12 columns">
			<h1 class="display is_blue_color">Inputs</h1> 
			<p class="small-12 large-10">Consistent input elements help us quickly design effective web forms.</p>

			<hr>

			<div class="row">
				<div class="small-12 columns">
					<h1>Text inputs</h1> 
					<h5>Single-Line</h5>
					<input placeholder="Field label text" type="text">
					<h5>Multi-Line</h5>
					<textarea>Field label text</textarea> 
				</div>
			</div>

			<hr>

			<h1>States</h1> 
			<div class="row">
				<div class="large-4 small-12 columns">
					<h5>Focus</h5>
					<input class="focus" placeholder="Field label text" type="text"> 
				</div>
				<div class="large-4 small-12 columns">
					<h5>Error</h5>
					<input class="error" placeholder="Field label text" type="text"><i class="fa fa-times-circle"></i>
				</div>
				<div class="large-4 small-12 columns">
					<h5>Success</h5>
					<input class="success" placeholder="Field label text" type="text"><i class="fa fa-check-circle"></i>
				</div>
			</div>
		</div> 
	</div>
</section>