<section id="brand_logo">
	<div class="row">
		<div class="large-9 large-offset-3 medium-9 medium-offset-3 small-12 columns">

			<h1 class="display is_blue_color">Logo</h1> 
			<p class="small-12 large-10">Our logo is the face of InsightSquared, please only use the logo's provided here and never modify them.</p>

			<a href="img/logo/is_logo_on_light_large.png" alt="InsightSquared logo for use on light backgrounds"><img class="large_space_top is_white_bg" src="img/logo/is_logo_on_light_large.png"></a>
			<a href="img/logo/is_logo_on_light_large.png" class="button tiny">PNG</a>
			<a href="img/logo/is_logo_on_light.eps" class="button tiny">EPS</a>

			<div class="row">
				<div class="large_space_top medium-6 small-12 columns">
					<a href="img/logo/is_logo_on_dark_large.png" alt="InsightSquared logo for use on dark backgrounds"><img class="is_grey_bg" src="img/logo/is_logo_on_dark_large.png"></a>
					<a href="img/logo/is_logo_on_dark_large.png" class="button tiny">PNG</a>
					<a href="img/logo/is_logo_on_dark.eps" class="button tiny">EPS</a>
				</div>
				<div class="large_space_top medium-6 small-12 columns">
					<a href="img/logo/is_logo_on_color_large.png" alt="InsightSquared logo for use on colored backgrounds"><img class="is_blue_bg" src="img/logo/is_logo_on_color_large.png"></a>
					<a href="img/logo/is_logo_on_color_large.png" class="button tiny">PNG</a>
					<a href="img/logo/is_logo_on_color.eps" class="button tiny">EPS</a>
				</div>
			</div>

			<hr>

			<h1>Vertical logo</h1> 
			<div class="row">
				<div class="large_space_top medium-6 small-12 columns">
					<a href="img/logo/is_logo_stacked_on_light.png" alt="InsightSquared logo for use on light backgrounds"><img class="is_white_bg" src="img/logo/is_logo_stacked_on_light.png"></a>
					<a href="img/logo/is_logo_stacked_on_light.png" class="button tiny">PNG</a>
					<a href="img/logo/is_logo_stacked_on_light.eps" class="button tiny">EPS</a>
				</div>
				<div class="large_space_top medium-6 small-12 columns">
					<a href="img/logo/is_logo_stacked_white.png" alt="InsightSquared logo for use on dark backgrounds"><img class="is_grey_bg" src="img/logo/is_logo_stacked_white.png"></a>
					<a href="img/logo/is_logo_stacked_white.png" class="button tiny">PNG</a>
					<a href="img/logo/is_logo_stacked_white.eps" class="button tiny">EPS</a>
				</div>
			</div>

			<hr>

			<h1>Clear space</h1> 
			<p class="small-12 large-10">There should always be ample space around the logo to ensure maximum impact and keep the mark from looking cluttered.</p>

			<div class="row">
				<div class="large_space_top medium-6 small-12 columns">
					<img class="is_white_bg medium_space_bottom" src="img/logo/is_logo_guide.png" alt="Vertical logo lockup">
				</div>
				<div class="large_space_top medium-6 small-12 columns">
					<img class="is_white_bg medium_space_bottom" src="img/logo/is_logo_stacked_guide.png" alt="Vertical mono tone logo">
				</div>
			</div>

			<hr>

			<h1>Improper logo useage</h1> 
			<p class="small-12 large-10">Improper useage of our logo weakens our brand and reflects poorly on the business.</p>

			<div class="row">
				<div class="large_space_top medium-5 small-12 columns">
					<img class="is_white_bg medium_space_bottom" src="img/logo/improper1.png" alt="Example of improper logo useage">
					<p class="caption is_mid_grey_color">Don't stretch or skew the logo.</p>
					<img class="is_white_bg medium_space_bottom" src="img/logo/improper2.png" alt="Example of improper logo useage">
					<p class="caption is_mid_grey_color">Don't stretch or skew the logo.</p>
					<img class="is_white_bg medium_space_bottom" src="img/logo/old_logo.png" alt="Example of improper logo useage">
					<p class="caption is_mid_grey_color">Don't use the old logo (The old logo's symbol has fills).</p>
				</div>
				<div class="large_space_top medium-5 small-12 columns">
					<img class="is_white_bg medium_space_bottom" src="img/logo/improper4.png" alt="Example of improper logo useage">
					<p class="caption is_mid_grey_color">Don't change the color of the logo.</p>
					<img class="is_white_bg medium_space_bottom" src="img/logo/improper3.png" alt="Example of improper logo useage">
					<p class="caption is_mid_grey_color">Don't add drop shadows, blur, or any other effects.</p>
				</div>
				<div class="large_space_top medium-2 small-12 end columns">
					<img class="is_white_bg medium_space_bottom" src="img/logo/improper5.png" alt="Example of improper logo useage">
					<p class="caption is_mid_grey_color">Don't rotate the logo vertically.</p>
				</div>
			</div>


		</div> 
	</div>
</section>