<section id="brand_name">
	<div class="row">

		<div class="large-9 large-offset-3 medium-9 medium-offset-3 small-12 columns">
			<h1 class="display is_blue_color">Name</h1> 
			
			<div class="row">
				<div class="small-12 columns">
					<div class="huge_type">InsightSquared <i class="fa fa-check is_green_color"></i></div>
					<p class="caption is_green_color">InsightSquared is one word with both the "I" and "S" capitalized.</p>
				</div>
			</div>
			
			<hr>

			<div class="row">
				<div class="small-12 columns">
					<div class="huge_type">Insight<span class="is_red_color">s</span>quared <i class="fa fa-times is_red_color"></i></div>
					<p class="caption is_red_color">The “s”, in “squared” should be capitalized.</p>
				</div>
			</div>
			
			<hr>

			<div class="row">
				<div class="small-12 columns">
					<div class="huge_type">Insight<span class="space"> </span>Squared <i class="fa fa-times is_red_color"></i></div>
					<p class="caption is_red_color">InsightSquared is one word, not two.</p>
				</div>
			</div>

		</div> 
	</div>
</section>